<%= notice %>
<div class='frozen_image_background'>
<div class="text-center frozen_box">
<h1 style="color: cyan" >Everyday To-Do List </h1>

<div id="lists">
<table class= "table table-hover" >
  <thead>
    <tr>
        <th> Description</th>
        <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
  

  <% @lists.each do |list| %>
  <tr>
    <%= render list %> 
    <p>
      <%= button_to link_to  "Edit Task", list , class: "c"  %>
      <%= button_to "Destroy Task", list, method: :delete %>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>

<%= link_to "New Item", new_list_path, class: "b"   %>
<%= link_to "Delete Marked Items", home_trash_em_path, class: "b", method: :delete %> 
</div>