<%= notice %>
<div class='frozen_image_background'>
<div class=" centered frozen_box">
<h1 class= "title"> Everyday To-Do List </h1>

<div id="lists">
<table class= "table table-hover" >
  <thead>
    <tr>
        <th> Description</th>
        <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
  

  <% @lists.each do |list| %>
  <tr>
    <%= render list %> 
    <p>
      <%= link_to  "Edit", list , class: "c", class: "btn btn-info btn-sm"  %>
      <%= button_to "Delete", list, method: :delete, class: "btn btn-danger btn-sm" %>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>

<%= link_to "New Item", new_list_path, class: "b" , class: "btn btn-light btn-sm"  %> |
<%= link_to "Delete Marked Items", home_trash_em_path, class: "b", class: "btn btn-warning btn-sm", method: :delete %> |
<%= link_to "Delete All Items", home_trash_em_all_path, class: "b", class: "btn btn-dark btn-sm", method: :delete %>
</div>