<%= notice %>
<div class='frozen_image_background'>
<div class="frozen_box">
<h1 class= "title"> Everyday To-Do List </h1>

<div id="lists">
<table class= "table table-hover" >
  <thead>
    <tr>
        <th> Description</th>
        <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
  

  <% @lists.each do |list| %>
  <tr>
    <%= render list %> 
    <p>
      <%= link_to  " Edit ", list , class: "c btn-default button_edit"  %>
      <%= button_to "Delete", list, method: :delete, class: "btn default button_delete" %>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>

<%= link_to "New Item", new_list_path,  class: "a btn-default button_new"   %> |
<%= link_to "Delete Marked Items", home_trash_em_path,  class: "b btn-default button_cross", method: :delete %> |
<%= link_to "Delete All Items", home_trash_em_all_path, class: "b btn-default button_all", method: :delete %>
</div>