<p style="color: green"><%= notice %></p>

<%= render @list %>

<div>
  <%= link_to "Edit this task", edit_list_path(@list) %> |
  <%= link_to "Back to lists", lists_path %>

  <%= button_to "Destroy this task", @list, method: :delete %>
</div>
