<div class='bell_image_background'>
<div class="card centered bell_box">

<p style="color: white" ><%= notice %>
<%= render @list %>
</p>
<div >
  <%= link_to "New Item", new_list_path,  class: "a btn-default button_new" %> |
  <%= link_to "Edit this task", edit_list_path(@list), class: "a btn-default button_edit" %> |
  <%= link_to "Back to lists", lists_path, class:"a btn-default button_list"  %>

</div>
